{% extends "layout.html" %}

{% block content %}
    <script type="module" src="/static/js/login.js" defer></script>

<div class="wrapper fadeInDown">
  <div id="formContent">

    <!-- Login Form -->
    <form>
        <img class="welcomeTextLogin" src="/static/images/welcome_text.png"/>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="email">
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="password">
      <input id="loginButtonSubmit" type="button" class="fadeIn fourth" value="Log In">
    </form>
    <div id="waitForResponse" class="serverRespondingText"></div>
    <div id="hintMessages" class = "hintMessages"></div>
    <!-- Remind Passowrd -->
{#    <div> <!----- id="formFooter" -->#}
{#      <a class="aForgetPasswordLink" href="#">Forgot Password?</a>#}
{#    </div>#}
    <div>
        <form action={{ url_for("register") }}>
            <button class="loginButton">
                <img id="loginButtonImg" class="loginButtonImg_regular" src="/static/images/register_question.png"/>
            </button>
        </form>
    </div>

  </div>
</div>

{% endblock %}